<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
  <%- include("templates/head") %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    .table {
      color: white;

      th {
        border-bottom: 1px solid rgb(53, 53, 53);
      }

      td {
        border-bottom: 1px solid rgb(53, 53, 53);
        position: relative;
      }
    }

    .arrow {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      color: white;
      transform: rotate(90deg);
      pointer-events: none;
      transition: transform 0.15s;
    }

    .arrow.open {
      transform: rotate(270deg);
    }

    .animated-select-button {
      border: 1px solid rgb(69, 69, 69);
      border-radius: 7px;
      color: white;
    }

    .animated-select-button:focus {
      border: 1px solid white;
    }

    .animated-select-list {
      top: 40px;
      left: 10px;
      list-style: none;
      transition: all 0.15s;
      opacity: 0;
      border: 1px solid rgb(69, 69, 69);
      border-radius: 7px;
      z-index: 9999;
      background-color: rgb(21, 21, 21);
    }

    .animated-select-list.shown {
      display: flex;
      opacity: 1;
      top: 50px;
    }
  </style>
</head>

<body>
  <div id="container">
    <%- include("templates/nav") %>

    <table class="table m-5 w-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% for (const user of users) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <!-- TODO fix and finish animated select dropdown -->
            <button class="animated-select-button ps-2 pe-2 px-2 bg-transparent"><%= user.role %><span class="arrow ms-5">></span></button>
            <ul class="animated-select-list d-flex flex-column align-items-start justify-content-center position-absolute gap-2 m-0 p-3">
              <li>user</li>
              <li>admin</li>
            </ul>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <%- include("templates/footer") %>
  </div>

  <script src="/scripts/admin.js"></script>
</body>

</html>