<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
  <%- include("templates/head") %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    .table {
      color: white;

      th {
        border-bottom: 1px solid rgb(53, 53, 53);
      }

      td {
        border-bottom: 1px solid rgb(53, 53, 53);

        text-align: left;
        vertical-align: middle;
      }
    }

    .arrow {
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      color: rgb(69, 69, 69);
      transform: rotate(90deg);
      pointer-events: none;
      transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .arrow.open {
      transform: rotate(270deg);
    }

    .animated-select-button {
      width: 120px;
      padding: 6px 10px;
      border: 1px solid rgb(69, 69, 69);
      border-radius: 7px;
      color: white;
    }

    .animated-select-button:focus {
      border: 1px solid white;
    }

    .animated-select-list {
      display: none;
      list-style: none;
      z-index: 9999;

      transition:
        opacity 150ms ease-in-out,
        top 200ms cubic-bezier(0.16, 1, 0.3, 1),
        left 200ms cubic-bezier(0.16, 1, 0.3, 1),
        display 2s;
      transition-behavior: allow-discrete;
      opacity: 0;
      top: 45px;
      left: 6px;

      border: 1px solid rgb(69, 69, 69);
      border-radius: 7px;
      background-color: rgb(21, 21, 21);
      width: 120px;
      box-shadow: var(--shadow-primary);

      .animated-list-option {
        width: 100%;
        border-radius: 4px;
        padding: 6px 8px;
        cursor: default;
      }

      .animated-list-option:hover {
        background-color: rgb(48, 48, 48);
      }
    }

    .animated-select-list.open {
      display: flex;
      opacity: 1;
      top: 53px;
      left: 8px;

      @starting-style {
        opacity: 0;
        top: 45px;
        left: 6px;
      }
    }
  </style>
</head>

<body>
  <div id="container">
    <%- include("templates/nav") %>

    <table class="table m-5 w-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% for (const user of users) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td class="position-relative">
            <!-- TODO fix and finish animated select dropdown -->
            <button class="animated-select-button d-flex align-items-center justify-content-between bg-transparent"><%= user.role %><span class="arrow">></span></button>
            <ul class="animated-select-list flex-column align-items-start justify-content-center position-absolute m-0 p-1">
              <li class="animated-list-option">user</li>
              <li class="animated-list-option">admin</li>
            </ul>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <%- include("templates/footer") %>
  </div>

  <script src="/scripts/admin.js"></script>
</body>

</html>