<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>
  <%- include("templates/head") %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    .table {
      color: white;

      th {
        border-bottom: 1px solid rgb(53, 53, 53);
      }

      td {
        border-bottom: 1px solid rgb(53, 53, 53);
      }
    }

    .select-wrapper {
      position: relative;
      display: inline-block;
    }

    .select-wrapper select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      padding-right: 2em;
    }

    .select-wrapper:after {
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      color: white;
      content: ">";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      pointer-events: none;
      transition: transform 0.2s ease-in;
    }

    .select-wrapper.open::after {
      transform: translateY(-50%) rotate(270deg);
    }

    .form-select {
      background-image: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgb(75, 75, 75);
      color: white;
      border-radius: 1px;
      padding-inline: 2px;
    }
  </style>
</head>

<body>
  <div id="container">
    <%- include("templates/nav") %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% for (const user of users) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <div class="select-wrapper">
              <select class="form-select">
                <option value="user" <%= user.role = 'user'  ? ' selected' : '' %>>user</option>
                <option value="admin" <%= user.role == 'admin' ? ' selected' : '' %>>admin</option>
              </select>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <script>
    document.querySelectorAll(".form-select").forEach((select) => {
      select.addEventListener("click", () => select.parentElement.classList.toggle("open"));
      select.addEventListener("blur", () => select.parentElement.classList.remove("open"));
    });
  </script>
</body>

</html>