<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= errorTitle %></title>
  <%- include('templates/head') %>

  <style>
    p {
      color: rgb(201, 201, 201);
    }
  </style>
</head>

<body>
  <div class="gap-2" id="container">
    <header id="header" class="finisher-header"></header>
    <%- include('templates/nav') %>

    <main>
      <h1 class="fw-bold fs-1"><%= errorTitle %></h1>
      <p><%= errorMessage %></p>
      <a class="btn btn-primary" href="<%= link %>"><%= buttonText %></a>
    </main>

    <%- include('templates/footer') %>
  </div>
  <script src="/scripts/finisher-header.es5.min.js"></script>
  <script src="/scripts/header.js"></script>
</body>

</html>