<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= errorTitle %></title>
  <%- include('templates/head') %>

  <style>
    p {
      color: rgb(201, 201, 201);
    }
  </style>
</head>

<body>
  <div class="gap-2" id="container">
    <%- include('templates/nav') %>

    <h1 class="fw-bold fs-1"><%= errorTitle %></h1>
    <p><%= errorMessage %></p>
    <a class="btn btn-primary" href="<%= link %>"><%= buttonText %></a>
  </div>
</body>

</html>