<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= errorTitle %></title>

  <link rel="icon" href="/assets/leuxs-logo.png" />
  <link rel="stylesheet" href="/styles/theme.css" />

  <style>
    #container {
      gap: 10px;

      h1 {
        margin: 0;
        font-size: 7rem;
        text-align: left;
      }

      p {
        color: rgb(201, 201, 201);
      }
    }
  </style>
</head>

<body>
  <div id="container">
    <h1><%= errorTitle %></h1>
    <p><%= errorMessage %></p>
    <a href="<%= link %>"><%= buttonText %></a>
  </div>
</body>

</html>