<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <link rel="icon" href="/assets/leuxs-logo.png" />
  <link rel="stylesheet" href="/styles/theme.css" />

  <style>
    #container {
      h1 {
        font-size: var(--h1-font-size-primary);
        margin: 20px;
      }
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div id="container">
    <h1><%= anon ? 'Please sign up or login' : 'Hello, ' + name %></h1>
    <div id="links-container">
      <a href="/signup" class="<%= anon ? '' : 'hidden' %>">Sign up</a>
      <a href="/login" class="<%= anon ? '' : 'hidden' %>">Login</a>
      <a href="/members" class="<%= anon ? 'hidden' : '' %>">Members</a>
      <a href="/logout" class="<%= anon ? 'hidden' : '' %>">Logout</a>
    </div>
  </div>
</body>

</html>