<nav class="navbar navbar-expand" data-bs-theme="dark">
  <div id="nav-container" class="d-flex flex-row align-items-center justify-content-center w-auto mt-3 py-3 px-4 rounded-pill">
    <a class="navbar-brand border-0 bg-transparent m-0 p-0 ps-1 lh-base text-light text-uppercase" href="/">
      <img src="/assets/lexus-logo-white-32.png" alt="Lexus">&nbsp;Lexus
    </a>

    <svg id="open-offcanvas-nav" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-none me-1 lucide lucide-menu-icon lucide-menu">
      <path d="M4 12h16" />
      <path d="M4 18h16" />
      <path d="M4 6h16" />
    </svg>

    <ul class="navbar-nav">
      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill" href="/">Home</a>
      </li>

      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill" href="/game">Game</a>
      </li>

      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill" href="/admin">Admin</a>
      </li>

      <li class="nav-item ms-4">
        <button class="theme-toggle theme-toggle--toggled" type="button" title="Toggle theme" aria-label="Toggle theme">
          <svg aria-hidden="true" width="27" height="27" fill="currentColor" class="theme-toggle__expand" viewBox="0 0 32 32">
            <clipPath id="theme-toggle__expand__cutout">
              <path d="M0-11h25a1 1 0 0017 13v30H0Z" />
            </clipPath>
            <g clip-path="url(#theme-toggle__expand__cutout)">
              <circle cx="16" cy="16" r="8.4" />
              <path d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z" />
            </g>
          </svg>
        </button>
      </li>

      <li class="ms-2 me-3">
        <div id="separator"></div>
      </li>

      <li class="nav-item ms-2 d-flex gap-2">
        <a class="btn btn-primary <%= anon ? '' : 'd-none' %>" href="/login">Login</a>
        <a class="btn btn-secondary <%= anon ? '' : 'd-none' %>" href="/signup">Signup</a>
        <a class="btn btn-primary <%= anon ? 'd-none' : '' %>" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div id="offcanvas-nav" class="position-fixed d-none">
  <div class="p-3 position-absolute top-0 end-0">
    <svg id="close-offcanvas-nav" width="35" height="35" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
      <path d="M18 6 6 18" />
      <path d="m6 6 12 12" />
    </svg>
  </div>
  <div class="p-5 m-4 mt-5">
    <h1 class="mb-3">LEXUS</h1>
    <ul class="p-0 d-flex flex-column gap-2">
      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill text-uppercase" href="/">Home</a>
      </li>

      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill text-uppercase" href="/game">Game</a>
      </li>

      <li class="nav-item p-0">
        <a class="nav-link border-0 rounded-pill text-uppercase" href="/admin">Admin</a>
      </li>

      <li class="nav-item mt-4 d-flex gap-2">
        <a class="btn btn-primary <%= anon ? '' : 'd-none' %>" href="/login">Login</a>
        <a class="btn btn-secondary <%= anon ? '' : 'd-none' %>" href="/signup">Signup</a>
        <a class="btn btn-primary <%= anon ? 'd-none' : '' %>" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>

<script src="/scripts/nav.js"></script>